PORT=3000
DATABASE_URL="postgresql://postgres:<your_pass>@localhost:5432/trading_app"


#JWT Authentication
JWT_ACCESS_SECRET=supersecretaccesskey
JWT_REFRESH_SECRET=supersecretrefreshkey

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

NEWS_API_KEY=<your news api>